* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

header,
footer,
.nav-links {
    background: white;
    color: #ecf0f1;
}

.header-top {
    background: white;
    color: #763240;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.header-top .right {
    display: flex;
    align-items: center;
}

.header-top,
.header-container {
    transition: all 0.3s ease;
}

.header-top .center i,
.header-top .right i {
    margin-right: 6px;
}

.header-top i {
    margin-left: 2px;
}

.header-top .center {
    text-align: center;
    flex: 1;
}

.header-top .social-media a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.header-top .social-media a.instagram-icon {
    background: linear-gradient(45deg, #F56040, #E1306C, #405DE6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header-top .social-media a.linkedin-icon {
    color: #0077B5;
}

.header-top .social-media a:hover {
    color: inherit;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(135deg, #200917, #763240);
    border-bottom: 3px solid #1a1a1a;
    position: relative;
    transition: all 0.3s ease;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease, height 0.3s ease;
}

.header-main {
    text-align: right;
    flex-grow: 1;
}

.header-main h1 {
    font-size: 2.8rem;
    color: #ecf0f1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.hamburger-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ecf0f1;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hamburger-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hamburger-menu.active {
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-links {
    padding: 10px 0;
    color: #ecf0f1;
    transition: max-height 0.3s ease;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-links ul li {
    display: inline;
    margin: 0 15px;
}

.nav-links ul li a {
    color: #763240;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-links ul li a:hover {
    color: #3498db;
    text-decoration: underline;
}

.hamburger-menu i {
    display: none;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.whatsapp-position {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: center;
}

.whatsapp-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #25D366;
    font-size: 24px;
    text-decoration: none;
}

.whatsapp-icon i {
    font-size: 68px;
}

.whatsapp-icon span {
    margin-top: 5px;
    font-size: 12px;
    color: #ffffff;
    background-color: #25D366;
    padding: 2px 5px;
    border-radius: 5px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.slide.active-slide {
    opacity: 1;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 65px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.slide-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.slide-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.services {
    padding: 60px 20px;
    background-color: #ecf0f1;
}

.services h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #763240;
    font-family: 'Poppins', sans-serif;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    width: 250px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.service-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.service-box h3 {
    margin-top: 10px;
    font-size: 1.4rem;
    color: #763240;
    font-family: 'Poppins', sans-serif;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-box.hidden {
    display: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #763240;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #360e16;
}

.why-choose-us {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.why-choose-us .container {
    max-width: 1200px;
    margin: 0 auto;
}

.why-choose-us h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #763240;
    font-family: 'Poppins', sans-serif;
}

.reason-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reason-box {
    width: 23%;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.reason-box i {
    font-size: 2.5rem;
    color: #a26471;
    margin-bottom: 15px;
}

.reason-box h3 {
    font-size: 1.4rem;
    color: #763240;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.reason-box p {
    font-size: 1rem;
    color: #63444b;
    line-height: 1.6;
}

.reason-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.faq {
    padding: 60px 20px;
    background-color: #f4f4e2;
}

.faq h2 {
    font-size: 2.5rem;
    color: #888c56;
    margin-bottom: 42px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.faq-container {
    max-width: 1200px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #f1f1f1;
}

.faq-item h3 {
    font-size: 1.5rem;
    color: #63444b;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.faq-item p {
    font-size: 1.2rem;
    color: #694f54;
    line-height: 1.6;
    display: none;
}

.faq-item.active p {
    display: block;
}

.quote-container {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-container p {
    font-size: 1.2rem;
    color: #3c121a;
    margin: 0;
    text-align: center;
}

footer {
    padding: 20px;
    background-color: #763240;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

footer .social-media a.instagram-icon {
    background: linear-gradient(45deg, #F56040, #E1306C, #405DE6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .social-media a.linkedin-icon {
    color: #0077B5;
}

footer .social-media a:hover {
    color: #3498db;
}


.header-top.fixed,
.header-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.95);
}

.header-container.fixed {
    background: rgba(32, 9, 23, 0.95);
}

.header-top.fixed {
    color: #763240;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-box img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

footer .social-media a i {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .reason-box {
        width: 30%;
    }

    .service-box {
        width: 45%;
    }
}

@media (max-width: 768px) {

    .header-top {
        padding: 10px 20px;
        font-size: 0.85rem;
    }

    .header-top .right {
        display: none;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-main {
        text-align: center;
        margin-top: 10px;
    }

    .header-main h1 {
        font-size: 2rem;
    }

    .hamburger-menu i {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 37%;
        right: 2%;
        width: 17%;
        display: none;
        padding: 10px 20px;
        z-index: 999;
        border-radius: 5px;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links ul {
        flex-direction: column;
        text-align: right;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .slider {
        height: 300px;
    }

    .slide-text h2 {
        font-size: 1.8rem;
    }

    .slide-text p {
        font-size: 1rem;
    }

    .service-container {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 80%;
        margin: 10px 0;
    }

    .reason-box {
        width: 45%;
    }

    .faq h2 {
        font-size: 2rem;
    }

    .faq-item h3 {
        font-size: 1.3rem;
    }

    .faq-item p {
        font-size: 1rem;
    }

    .whatsapp-position {
        position: fixed;
        bottom: 10px;
        right: 10px;
        top: auto;
        transform: none;
    }

    button {
        width: 80%;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .nav-links {
        display: none;
        top: 18%;
        right: 4%;
        width: 14%;
        padding: 6px 6px;
    }

    .nav-links ul li a {
        font-size: 0.5rem;
    }

    .services h2,
    .why-choose-us h2,
    .faq h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .service-box h3,
    .reason-box h3 {
        margin-top: 10px;
        font-size: 1.0rem;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .header-top {
        padding: 8px 15px;
        font-size: 0.75rem;
    }

    .header-container {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .header-main h1 {
        font-size: 1.25rem;
    }

    .hamburger-menu i {
        width: 25px;
        height: 25px;
    }

    .hamburger-menu {
        bottom: 0px;
        right: 6px;
        font-size: 1.0rem;
    }

    .slider {
        height: 250px;
    }

    .slide-text {
        padding: 15px;
        bottom: 60px;
    }

    .slide-text h2 {
        font-size: 1.0rem;
    }

    .slide-text p {
        font-size: 0.95rem;
    }

    .service-box {
        width: 80%;
    }

    .service-box i,
    .reason-box i {
        font-size: 2rem;
    }

    .services {
        padding: 40px 20px;
    }

    .reason-box {
        width: 75%;
    }

    .reason-box i {
        font-size: 2.0rem;
    }

    .faq {
        padding: 30px 20px;
    }

    .faq h2 {
        font-size: 1.5rem;
    }

    .faq-item h3 {
        font-size: 1.0rem;
    }

    .faq-item p {
        font-size: 0.95rem;
    }

    .why-choose-us {
        padding: 45px 20px;
    }

    .whatsapp-icon i {
        font-size: 50px;
    }

    .whatsapp-icon span {
        font-size: 10px;
    }

    footer .social-media a {
        font-size: 1.1rem;
    }

    button {
        padding: 8px 0px;
        font-size: 0.9rem;
        width: 60%;
    }

    .slide-text p {
        display: none;
    }

    .slide-text {
        padding: 5px;
    }

    .quote-container {
        margin: 10px 10px;
    }

    .quote-container p {
        font-size: 1.0rem;
    }

    .whatsapp-icon i {
        font-size: 54px;
    }

    .whatsapp-position {
        right: 12px;
        bottom: 4%;
    }

    .header-top .center {
        text-align: right;
    }
}